@model PieListViewModel

@foreach (var item in Model.Pies)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@item.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@item.Price.ToString("c")</h3>
                <h3>
                    <a>@item.Name</a>
                </h3>
                <p>@item.ShortDescription</p>
            </div>
        </div>
    </div>
}