@model BethanyPieShop.Web.PieListViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bethany's Pie Shop</title>
</head>
<body>    
    @foreach (var item in Model.Pies)
    {
    <div>
        <h2>@item.Name</h2>
        <h3>@item.Price.ToString("C")</h3>
        <h4>@item.Category.Name</h4>
    </div>
    }
</body>
</html>